@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.header  {
    background-color: rgb(0, 0, 0);
    color:black;
    font-family:"Montserrat";
    font-size:20px;
    line-height: 50px;
}

.header nav ul {
    display: flex;
    
}

li a {
    color: black;
    text-decoration: none;
  }

.header .menu {
    display:flex;
    align-items: center;
    background-color: #F3E6D1;
    border-bottom:5px;
    border-color:white;
}

@media (max-width:1024px){
    .navigation {
        display: none;
    }
}

.header nav ul li{
    padding: 5px;
    padding-top: 10px;
    padding-right: 10px;
    margin: 10px;
    text-transform: uppercase;
    
}

.header .menunav { 
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F3E6D1;
    padding-right: 20px;
}



.header .titre {
    padding-top: 60px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.header .titre h1 {
    display: block;
    font-family:"DIN Condensed";
    font-size: 110px;
    background: rgb(0, 0, 0);
    color: white;
    padding: 50px;
    padding-bottom:5px;
    padding-top:70px;
    text-align: center;
}

@media (max-width:1024px){
    .header .titre h1{
        font-size: 40px;
    }

}

.header .titre h1 small {
    font-size: 16px;
    display: block;
    text-align: right;
    
}

.header .images img {
    height:200px;
    width:200px;
}

.header .fond {
    width:100%;
}

.header .contenant {
    position: relative;
    text-align: center;
    
}

.header .texte_centrer {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
    .header .texte_centrer {
        left: 0;
        right: 0;
        transform: translate(0%, -50%);

    }
    .header .titre { 
        display: block;
    }
    .header .titre h1 {
        padding-top: 10px;
    }

    .header .titre h1 small {
        font-size: 16px;
        text-align: center;
        line-height: 18px;
    }
}

.header .sectionbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header .button {
    display:flex;
    justify-content:flex-end;
    background:rgb(226, 174, 72);
    font-family: 'Montserrat', sans-serif;
    padding: 2px 25px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.header .button:hover {
    background:rgb(226,174,72);
    transform: scale(1.1);
}

@media (max-width:1024px){
    .header .button{
        padding: 0px 15px;
        font-size: 12px;
    }
}