@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montaga&family=Montserrat&display=swap');

.footerbody {
    font-family: 'Montaga', serif;
    background-color: rgb(12, 12, 12);
}

footer {
    color: white;
    font-size: 20px;
    line-height: 3cm;
    display: flex;
    justify-content: first baseline;
    justify-content: space-around;
    font-family: Montaga;
}

.foot {
    line-height: 8mm;
    font-size: 20px;
    background-color: rgb(12, 12, 12)
}

.abonne {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    margin-right: 90px;
}

.abonnetext {
    margin-top: 20px;
    font-size: 16px;
    line-height: 40px;
    color: aliceblue;
    background-color: rgb(25,25,25);
    padding: 20px;
    margin-left: 285px;
}

div.bordure {
    border-bottom: 1px solid rgb(252, 251, 251);
}

.fin {
    color: aliceblue;
    display: flex;
    justify-content: center
}

section {
    color: aliceblue;
}

ul.end {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.abonnetext:hover {
    transition: 1s;
    background-color: rgb(225, 220, 231);
    color: rgb(25,25,25);
}

